*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


main{
    height: 100vh;
    margin: 250px;
}
form{
margin-left: 350px;
    text-align: center;
    justify-content: center;
    width: 650px;

}