*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(79, 79, 216);
}
.text{
    color: white;
    text-align: center;
}
 .box{
    width: 350px;
    height: 450px;
    margin: 350px auto;
    padding:15px;
    border: 1px solid rgb(22, 22, 27);

  
}
.animation{
    display: flex;
}